{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}




<nav class="log-nav">


	            
                    <a href="{{ path("Index") }}">Accueil</a>
                
            {#    ci-dessous, on affiche un contenu différent suivant les droits de l'utilisateur #}
            {% if is_granted("ROLE_USER") %}

            
                <a href="{{ path("Profile") }}">Mon profile</a>
                 <a href="{{ path("app_logout") }}">Se déconnecter</a> 
            {% else %}

           
                    <a href="{{ path("RegistrationController") }}">Créer un compte</a>
           

            {% endif %}

 

        </nav>


<hr>


<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal"> Connexion </h1>
    <p class="connexion_sub">Connectez-vous pour partager avec la communauté !</p>

    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>

    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

     <div class="remember_me">
        <input type="checkbox" class="remember_checkbox" id="remember-me-id" autocomplete="off">
        <label for="remember-me-id">Se souvenir de moi</label>

        <a href="#" class="connexion_pwoublie">Mot de passe oublié?</a>
            
    </div>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
           >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="bouton_bleu bouton_co" type="submit">
        SE CONNECTER
    </button>



            <div class="alternate_connexion">
                <p class="ou_1">OU</p>
                <p>S'inscrire avec</p>

            </div>

          
          <div class="inscription_1_rs connexion_rs"> 
            <a href="#" ><img src="../images/inscription_facebook.png"></a>
            <a href="#"><img class="inscription_1_google connexion_google" src="../images/inscription_google.png"></a>
            </div>

            
            <a href="{{ path("RegistrationController") }}">Créer un compte</a>
</form>





{% endblock %}
