{% extends 'base.html.twig' %}

{% block title %}LaBelleBleue{% endblock %}


{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <h1> LaBelle Bleue</h1>
	<nav class="log-nav">


	            <span>
                    <a href="{{ path("Index") }}">Accueil</a>
                </span>
            {#    ci-dessous, on affiche un contenu différent suivant les droits de l'utilisateur #}
            {% if is_granted("ROLE_USER") %}

                <span>
                    Bonjour {{ app.user.name }} !
                </span>
                <a href="{{ path("Profile") }}">Mon profile</a>
                 <a href="{{ path("app_logout") }}">Se déconnecter</a> 
            {% else %}


			    <span>
                    <a href="{{ path("Login") }}">Se connecter</a>
                </span>

                <span>
                    <a href="{{ path("RegistrationController") }}">Créer un compte</a>
                </span>

            {% endif %}


      

        </nav>

	

    <br>
    <hr>
    <br>


    <ul>
        <li> Votre entreprise  </li>
        <li> Votre établissement, Vos spécialités, vos choix, vos horaires</li>
        <li> Votre présence en ligne </li>
        <li> Félicitations </li>
    </ul>



  
</div>


<html>
	<head>
		<meta charset="utf-8">
		<script src="https://maps.google.com/maps/api/js?key=AIzaSyB1iOgK-LcezlO9OwDmEZeY5QU36DTVyzs" type="text/javascript"></script>
		<script async type="text/javascript">
			// On initialise la latitude et la longitude de Paris (centre de la carte)
			var lat = 48.852969;
			var lon = 2.349903;
			var map = null;

			// Fonction d'initialisation de la carte
			function initMap() {
				// Créer l'objet "map" et l'insèrer dans l'élément HTML qui a l'ID "map"
				map = new google.maps.Map(document.getElementById("map"), {
					
					// Nous plaçons le centre de la carte avec les coordonnées ci-dessus
					center: new google.maps.LatLng(lat, lon), 
					// Nous définissons le zoom par défaut
					zoom: 12, 
					// Nous définissons le type de carte (ici carte routière)
					mapTypeId: google.maps.MapTypeId.ROADMAP, 
					// Nous activons les options de contrôle de la carte (plan, satellite...)
					mapTypeControl: true,
					// Nous désactivons la roulette de souris
					scrollwheel: false, 
					mapTypeControlOptions: {
						// Cette option sert à définir comment les options se placent
						style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR 
					},
					// Activation des options de navigation dans la carte (zoom...)
				
					navigationControl: true, 
					navigationControlOptions: {
						// Comment ces options doivent-elles s'afficher

						style: google.maps.NavigationControlStyle.ZOOM_PAN 
					}
				});
			}

            
			window.onload = function(){
				// Fonction d'initialisation qui s'exécute lorsque le DOM est chargé
				initMap(); 
			};
		</script>
		
		<style type="text/css">
			#map{ /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
				height:400px;
			}
		</style>

	</head>



	<body>
		<div id="map">
			<!-- Ici s'affichera la carte -->
		</div>
	</body>



<script src= "{{ asset('js/home.js') }}"></script>
</html>
		




{% endblock %}