{% extends 'base.html.twig' %}

{% block title %}LaBelleBleue{% endblock %}




{% block body %}
{% block javascripts %}
    {{ parent()}}
      <script
    type="text/javascript"
    src="https://js.api.here.com/v3/3.1/mapsjs-core.js"
  ></script>
  <script
    type="text/javascript"
    src="https://js.api.here.com/v3/3.1/mapsjs-service.js"
  ></script>
   <script
    type="text/javascript"
    src="https://js.api.here.com/v3/3.1/mapsjs-core.js"
  ></script>
  <script
    type="text/javascript"
    src="https://js.api.here.com/v3/3.1/mapsjs-service.js"
  ></script>
  <script
    type="text/javascript"
    src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"
  ></script>
  <script
    type="text/javascript"
    src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"
  ></script>
{% endblock %}



<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <h1> LaBelle Bleue</h1>
	
	


	<nav class="log-nav">


	            <span>
                    <a href="{{ path("Index") }}">Accueil</a>
                </span>
            {#    ci-dessous, on affiche un contenu différent suivant les droits de l'utilisateur #}
            {% if is_granted("ROLE_USER") %}

                <span>
                    Bonjour {{ app.user.name }} !
                </span>
                <a href="{{ path("Profile") }}">Mon profile</a>
                 <a href="{{ path("app_logout") }}">Se déconnecter</a> 
            {% else %}


			    <span>
                    <a href="{{ path("Login") }}">Se connecter</a>
                </span>

                <span>
                    <a href="{{ path("RegistrationController") }}">Créer un compte</a>
                </span>

            {% endif %}

        </nav>

{# MENU DE RECHERCHE #}
<div id="search"></div>


    <br>
    <hr>
    <br>


    <ul>
        <li> Votre entreprise  </li>
        <li> Votre établissement, Vos spécialités, vos choix, vos horaires</li>
        <li> Votre présence en ligne </li>
        <li> Félicitations </li>
    </ul>

</div>

<div> 

ICI LES SUGGESTIONS  -------------------------------------------------

</div>


{# HERE MAP#}
<div id="map"></div>



{% endblock %} 