{% extends 'base.html.twig' %}

{% block title %}LaBelleBleue{% endblock %}


{% block body %}

{% block javascripts %}

    {{ parent()}}
      <script
    type="text/javascript"
    src="https://js.api.here.com/v3/3.1/mapsjs-core.js"
  ></script>
  <script
    type="text/javascript"
    src="https://js.api.here.com/v3/3.1/mapsjs-service.js"
  ></script>
   <script
    type="text/javascript"
    src="https://js.api.here.com/v3/3.1/mapsjs-core.js"
  ></script>
  <script
    type="text/javascript"
    src="https://js.api.here.com/v3/3.1/mapsjs-service.js"
  ></script>
  <script
    type="text/javascript"
    src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"
  ></script>
  <script
    type="text/javascript"
    src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"
  ></script>
  <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
{% endblock %}



<main>
        
      {# <div class="container fond-home">
        <h1>Localisez les bonnes adresses de l’alimentation bio, veg’ et locale autour de vous !</h1>
              
        {# <div class="container d-flex justify-content-between"> #}

        {# <div className="container d-flex justify-content-between" > #}
          {# <LocationSearchInput setUserPos={setUserPos} setZoom={setZoom} /> #}
        {# </div>  #}

            <!-- Barre de recherche  -->
            {# <form class="barre-recherche">
              <div id="search" class="adresse form-control me-2">
                <input class="adresse form-control me-2" type="search" placeholder="Votre adresse" aria-label="Search">
                <button class="btn localisation">
                <svg width="200" height="100">
                  <img src="../images/localisation.svg" alt="localisation" class="localisation"></button>
                </svg>
              </div>

            <button class="btn localisation"><img src="../images/localisation.svg" alt="localisation" class="localisation"></button>
            </form> #}


            {# <!-- Bouton filtrer -->
            <button type="button" class="btn filtrer"> <img src="images/icon_filtrer.svg" alt="filtrer"/> Filtrer</button>
        </div> #}


    <div id="homepage"> 

    </div>

         
        <div class="container home reposition-hp"> 
      

            {# <div class="row home"> #}
              <div class="block-resultat col-md-6 col-lg-4">
                    <div class="titre-resultat text-center">
                        <h2>Nos coups de coeur</h2>
                        <p>Découvrez notre top 10 !</p>
                    </div> 

                    <div class="les-resultats">
                  {% for spot in bestSpots %}
                  <div class="un-resultat d-flex align-items-center">
                      <div class="img-results">
                        <img src="{{ spot.photo }}" alt="" class="vignette-etablissement">
                      </div>
                        <div class="picto-resultat">
                        <div class="texte-resultat">
                            <h3>{{ spot.name }}</h3>
                            {% set classPicto = "" %}
                            {% if spot.type == "restaurant" %}
                                {% set classPicto = "resto-texte" %}
                            {% elseif spot.type == "bar" %}
                                {% set classPicto = "bar-texte" %}
                            {% elseif spot.type == "épicerie" %}
                                {% set classPicto = "epicerie-texte" %}                                                            
                            {% endif %}
                              <p class="{{classPicto}} d-flex align-items-center">{{ spot.type }}</h3>
                        </div>

                          
                            <div class="gamme-de-prix">
                                {% for i in 1..spot.price %}
                                  <img src="../images/euro.svg" alt="euro" class="euro">
                                {% endfor %}
                            </div> 



                            <div class="avis-moyenne">
                                  {% set nbVides = 5 - spot.note%}
                                  {% for i in 1..spot.note %}
                                    <img src="../images/étoile_pleine.svg" alt="etoile pleine"> 
                                  {% endfor %}
                                  {% if nbVides > 0 %}
                                      {% for i in 1..nbVides %}
                                        <img src="../images/etoile_vide.svg" alt="étoile vide">
                                      {% endfor %} 
                                  {% endif %}                                 
                            </div>
                          </div>
                        
                  </div>
                  {% endfor %}
                  
              </div>
            {# </div> #}


          </div>

    </main>


	


{% endblock %} 