{% extends 'base.html.twig' %}

{% block title %}LaBelleBleue{% endblock %}




{% block body %}
{% block javascripts %}
    {{ parent()}}
      <script
    type="text/javascript"
    src="https://js.api.here.com/v3/3.1/mapsjs-core.js"
  ></script>
  <script
    type="text/javascript"
    src="https://js.api.here.com/v3/3.1/mapsjs-service.js"
  ></script>
   <script
    type="text/javascript"
    src="https://js.api.here.com/v3/3.1/mapsjs-core.js"
  ></script>
  <script
    type="text/javascript"
    src="https://js.api.here.com/v3/3.1/mapsjs-service.js"
  ></script>
  <script
    type="text/javascript"
    src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"
  ></script>
  <script
    type="text/javascript"
    src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"
  ></script>
{% endblock %}



<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <h1> LaBelle Bleue</h1>
	
	


	<nav class="log-nav">


	            <span>
                    <a href="{{ path("Index") }}">Accueil</a>
                </span>
            {#    ci-dessous, on affiche un contenu différent suivant les droits de l'utilisateur #}
            {% if is_granted("ROLE_USER") %}

                <span>
                    Bonjour {{ app.user.name }} !
                </span>
                <a href="{{ path("Profile") }}">Mon profile</a>
                 <a href="{{ path("app_logout") }}">Se déconnecter</a> 
            {% else %}


			    <span>
                    <a href="{{ path("Login") }}">Se connecter</a>
                </span>

                <span>
                    <a href="{{ path("RegistrationController") }}">Créer un compte</a>
                </span>

            {% endif %}

        </nav>

<div id="search"></div>


    <br>
    <hr>
    <br>


    <ul>
        <li> Votre entreprise  </li>
        <li> Votre établissement, Vos spécialités, vos choix, vos horaires</li>
        <li> Votre présence en ligne </li>
        <li> Félicitations </li>
    </ul>

</div>

<div> 

ICI LES SUGGESTIONS  -------------------------------------------------

</div>



<div id="map"></div>




<html>
   <head>
      <meta name="viewport" content="initial-scale=1.0,
            width=device-width" />
        <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"
            type="text/javascript" charset="utf-8"></script>
        <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"
            type="text/javascript" charset="utf-8"></script>
        <script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"
            type="text/javascript" charset="utf-8"></script>
        <link rel="stylesheet" type="text/css"
            href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
			
  </head>
  <body>



{#     <div style="height: 480px" id="mapContainer"></div>


<script type="text/javascript" charset="utf-8">
    //Initialize the Platform object:
    var platform = new H.service.Platform({
        'apikey': 'MPjPBkGSsV_-P78ADjkDAxVDwdpsU9pFqUoZMRc36p8'
    });

    // Get the default map types from the Platform object:
    var defaultLayers = platform.createDefaultLayers();

    // Instantiate the map:
    var map = new H.Map(
        document.getElementById('mapContainer'),
        defaultLayers.vector.normal.map,
        {
            zoom: 12,
            center: { lng: 2.349903, lat: 48.852969}
        });

    // Create the default UI:
    var ui = H.ui.UI.createDefault(map, defaultLayers, 'fr-FR');


	ui.getControl('zoom').setDisabled(false)

	var mapSettings = ui.getControl('mapsettings');
    var zoom = ui.getControl('zoom');
    var scalebar = ui.getControl('scalebar');
    
    mapSettings.setAlignment('bottom-right');
    zoom.setAlignment('bottom-right');
    scalebar.setAlignment('bottom-right');



      // Create a marker icon from an image URL:
      var icon = new H.map.Icon('images/fourchette.jpeg');
      
      // Create a marker using the previously instantiated icon:
      var marker = new H.map.Marker({ lat: 52.5, lng: 13.4 }, { icon: icon });
      
      // Add the marker to the map:
      map.addObject(marker);




	  // Create an info bubble object at a specific geographic location:
      var bubble = new H.ui.InfoBubble({ lng: 13.4, lat: 52.51 }, {
                      content: '<b>Hello World!</b>'
                   });
      
      // Add info bubble to the UI:
      ui.addBubble(bubble);


</script> #}


  </body>
</html>



</html>

		



{% endblock %} 