{% extends 'base.html.twig' %}

{% block title %}Registerpro{% endblock %}

{% block body %}
 <h3> FORMULAIRE  pro</h3>
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}



   
    {{ form_start() }}

        {{ form_row(Es.address) }}
        {{ form_row(establishmentType.zipcode) }}
        {{ form_row(establishmentType.city) }}
        {{ form_row(establishmentType.phone) }} 

    {{ form_end(establishmentType) }}




{% endblock %}