<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LaBelle Bleue</title>
    <link rel="icon" href="favicon.ico" />
    <link rel="icon" type="image/png" href="images/earth-planet.png" />
      <!-- Bootstrap CSS -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
      <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Economica:wght@400;700&family=Lato:wght@400;700&display=swap" rel="stylesheet"> 

      <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <header>
        <div class="container">  
            <nav>
                <!-- Menu burger -->
                <input type="checkbox" id="menu-checkbox" class="menu-checkbox">
                <label for="menu-checkbox" class="menu-toggle">≡</label>
                <label for="menu-checkbox" class="menu-croix">x</label>

                
                <!-- Barre de navigation -->
                <div class="liens-nav">
                    <a href="{{ path("Index") }}">
                        <svg width="100" height="50">
                            <img src="../images/ant-design_home-filled.svg" alt="home"/>
                        </svg> Home
                    </a>

                    <a href="{{ path("Index") }}">
                        <svg width="100" height="50">
                            <img src="../images/ri_earth-line.svg" alt="planete"/>
                        </svg> Notre Blog
                    </a>

                    <a href="#" class="logo"><img src="images/logo.png" alt="logo"/></a> 




                 {% if is_granted("ROLE_USER") %}

              


                <a href="{{ path("Profile") }}">
                     <svg width="100" height="50">
                        <img src="../images/profile_picture.svg" alt="inscription"/>
                    </svg> {{app.user.name}}
                </a>

                <a href="{{ path("app_logout") }}">
                     <svg width="100" height="50">
                        <img src="../images/profile_picture.svg" alt="inscription"/>
                    </svg> Me déconnecter
                </a> 

 
            
                {% else %}
			  
                    <a href="{{ path("Login") }}">
                        <svg width="100" height="50">
                            <img src="../images/profile_picture.svg" alt="connexion"/>
                        </svg> Me connecter
                    </a>
              

                
                    <a href="{{ path("RegistrationController") }}">
                        <svg width="100" height="50">
                            <img src="../images/profile_picture.svg" alt="inscription"/>
                        </svg> M'inscrire
                    </a>
               
                {% endif %}
                </nav>


                </div>


                <!-- Logo Mobile -->
                {# <a href="#" class="logo-mobile"><img src="images/logo.png" alt="logo"/></a>  #}
                </div>
            </nav> 
    </header>


        {% block body %} 
        CECI SERA LE BODY DE LA PAGE
        {% endblock %}

    <footer>
        <a href="#">Besoin d'aide ?</a>
        <a href="#">Voir nos CGU/CGV</a>
        <span>LaBelle Bleue © 2021</span>
    </footer>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtE3RhcosZj3YomIt1xb0LMQa0ugDDer0&libraries=places"</script>
        <script type="text/javascript" src="build/app.js" ></script>
    {% endblock %}


    </body>
</html>
